

.content {
    height: 90px;

}

.content p {
    max-width: 90%;
    text-align: center;
    margin-left: 0px;
    margin-top: 1em;
    color: #fff;

}

.homeContainer img {
   width: 350px;
   margin: 2em 0;
}

.projectCard {
    display: flex;
    width: 47%;
    min-height: 200px !important; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid #5390D9;
    border-radius: 5px;
    padding: 3em;
    box-shadow: 0 0 10px #fff;
    background: #11161cd0;
}

.projectCard h1 {
    font-size: 2.0em;
    margin: 0 auto;
    text-align: center;
    border: #5390D9;
 }

 .buttons {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
 }